In [193]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
%matplotlib inline 
import matplotlib as mpl
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
import plotly
from pygeocoder import Geocoder

In [2]:
#Data Load
df_crash = pd.read_csv('Datasets/Pedestrian_And_Bike_Crash_Data_-_Dataset.csv')
df_crash.head()

,Crash Type,Report Made?,Date / Time,Case Number,District,Crash Location,Lanes Of Traffic,Signal Present?,Speed Limit Of Road (MPH),Road Type,...,Driver City Of Residence,Driver Zip Code,Injury to Pedestrian?,Level of Injury to Pedestrian,Pedestrian to Hospital?,Injury to Biker?,Level of Injury to Biker,Biker to Hospital?,Crash Lat/Long Location,Count
0,Pedestrian,Yes,02/12/2016 05:43:00 AM,16-027595,Central District,7th St W & Randolph,NaN,NaN,NaN,NaN,...,St. Paul,55102,Yes,Suspected Minor Injury,Yes,NaN,NaN,NaN,"(44.92683357, -93.12817034)",1
1,Pedestrian,Yes,02/19/2016 07:31:00 PM,16-032425,Western District,Snelling Ave S & St. Clair Av,NaN,NaN,NaN,NaN,...,St. Paul,55105,No,None,No,NaN,NaN,NaN,"(44.934254, -93.167026)",1
2,Pedestrian,Yes,02/12/2016 07:08:00 AM,16-027607,Central District,5th St E & St. Peter,NaN,NaN,NaN,NaN,...,St. Paul,55117,Yes,Suspected Minor Injury,Yes,NaN,NaN,NaN,"(44.94520277, -93.09557134)",1
3,Pedestrian,Yes,02/16/2016 03:49:00 PM,16-030290,Central District,6th St E & Jackson St,NaN,NaN,NaN,NaN,...,St. Paul,55105,Yes,Suspected Minor Injury,No,NaN,NaN,NaN,"(44.9488967, -93.0901713)",1
4,Pedestrian,Yes,02/17/2016 06:22:00 PM,16-031102,Western District,Dale St N & St. Anthony,NaN,NaN,NaN,NaN,...,St. Paul,55104,Yes,Suspected Minor Injury,Yes,NaN,NaN,NaN,"(44.9521027, -93.1263367)",1

In [3]:
df_graf = pd.read_csv('Datasets/Parks_Graffiti_Report_-_Dataset.csv')
df_graf.head()

,Location Name,Work Performed Date,Location Address,Issue,Description,Labor Cost,Material Cost,Total Cost,Location
0,Bruce Vento,01/06/2013,293 Commercial Street,Graffiti,Graffiti on benches along backside of 293 Comm...,120.70,106.62,227.32,"(44.9528, -93.0733)"
1,McMurray,01/07/2013,1155 Jessamine Avenue West,Graffiti,Graffiti on field house building,30.17,26.65,56.82,"(44.9739, -93.149)"
2,Martin Lurther King,01/07/2013,271 Mackubin St.,Graffiti,Graffiti on wall of building facingthe school,108.40,48.10,156.50,"(44.9494, -93.1213)"
3,Como Regional,01/07/2013,1281 W. Como Blvd.,Graffiti,Graffiti on electrical pole near 850 Como Ave,54.20,14.05,68.25,"(44.9776, -93.1539)"
4,Lexington Pkwy,01/07/2013,350 Lexington Parkway North,Graffiti,Graffiti in Lexington Tunnel,30.17,41.65,71.82,"(44.9517, -93.1464)"

In [ ]:
def get_google_results(address, api_key='AIzaSyCvJaUnOOixAfRU0f9n8ZmceMDj-wRVrfw', return_full_response=False):
    """
    Get geocode results from Google Maps Geocoding API.
    
    Note, that in the case of multiple google geocode reuslts, this function returns details of the FIRST result.
    
    @param address: String address as accurate as possible. For Example "18 Grafton Street, Dublin, Ireland"
    @param api_key: String API key if present from google. 
                    If supplied, requests will use your allowance from the Google API. If not, you
                    will be limited to the free usage of 2500 requests per day.
    @param return_full_response: Boolean to indicate if you'd like to return the full response from google. This
                    is useful if you'd like additional location details for storage or parsing later.
    """
    # Set up your Geocoding url
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
    if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)
        
    # Ping google for the reuslts:
    results = requests.get(geocode_url)
    # Results will be in JSON format - convert to dict using requests functionality
    results = results.json()
#    results =results['formatted_address']
    
    # if there's no results or an error, return empty results.
    if len(results['results']) == 0:
        output = {
            "formatted_address" : None,
            "latitude": None,
            "longitude": None
        }
    else:    
        answer = results['results'][0]
        output = {
            "formatted_address" : answer.get('formatted_address'),
            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng')
        }
        
    # Append some other details:    
    output['input_string'] = address
    output['number_of_results'] = len(results['results'])
    output['status'] = results.get('status')
    if return_full_response is True:
        output['response'] = results
    
    return output

In [56]:
df_crime = pd.read_csv('Datasets/Crime_Incident_Report_-_Dataset.csv')
#print(df_crime.head())

cols= ['Case','Date','Time','Code','IncType','Incident','Grid','NNum','Neighborhood','Block','CallDispCode','CallDisposition', 'Count']
df_crime.columns= cols

In [57]:
#df_crime.CallDisposition.unique()
df=df_crime.query('Grid in [87.0]')

In [449]:
#Add Time Variables

df['Date']= pd.to_datetime(df['Date'])
df['Year']= df['Date'].dt.year
df['DayofWeek']=df['Date'].dt.dayofweek
df['Weekend'] = df['DayofWeek'].apply(lambda x: 1 if (x>4)  else 0)
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['LateNight'] = df['Hour'].apply(lambda x: 1 if (x>21 or x<5)  else 0)
df['Block']= df['Block'].str.lower()
df['Intersection'] = df['Block'].apply(lambda x: 1 if '&' in x else 0) #intersection

In [184]:
#Setting up the Coordinate Key

#Prep from appropiate key (note this process can be done in excel as well)
df_key= pd.read_csv('Datasets/FrogKey.csv')
df_key['Intersection1']= df_key['Intersection1'].str.lower()
df_key['Intersection2']= df_key['Intersection2'].str.lower()

A=df_key[['Intersection1','Intersection2', 'Clumped Coordinates']]
A['Key']= A['Intersection1']+ '_' + A['Intersection2']
A['Int2_1']= A['Intersection2']+ '_' + A['Intersection1']
H1=A[['Key','Clumped Coordinates']]
H2=A[['Int2_1','Clumped Coordinates']]
#Make H2 column name the same to merge
H2.columns= ['Key','Clumped Coordinates']
Cord_key=H1.append(H2, ignore_index=True)

In [273]:

dfI=df.query('Intersection ==1')
new=dfI['Block'].str.split("&", n = 1, expand = True) 
dfI['Inter1']= new[0]
dfI['Inter2']= new[1].str[1:]

new2=dfI['Inter1'].str.split(" ", n = 1, expand = True)
dfI['Inter1']=new2[0]

dfI['Key']= dfI['Inter1']+ '_' + dfI['Inter2']
dfI.reset_index()
dfI=pd.merge(dfI, Cord_key, on='Key', how='left')

dfI

,Case,Date,Time,Code,IncType,Incident,Grid,NNum,Neighborhood,Block,CallDispCode,CallDisposition,Count,Intersection,Inter,Inter1,Inter2,Key,Clumped Coordinates
0,19056972,03/20/2019,2019-03-20T18:34:29.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),thomas av & milton,A,A - Advised,1,1,1,thomas,milton,thomas_milton,"44.959361, -93.139031"
1,19056940,03/20/2019,2019-03-20T18:11:35.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),lexington pa n & university,A,A - Advised,1,1,1,lexington,university,lexington_university,"44.955826, -93.146539"
2,19055791,03/19/2019,2019-03-19T11:20:00.000,311,"Robbery, Highway, Firearm",Robbery,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & thomas,RR,RR - Report Written,1,1,1,milton,thomas,milton_thomas,"44.959361, -93.139031"
3,19052459,03/15/2019,2019-03-15T01:43:51.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,A,A - Advised,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
4,19052326,03/14/2019,2019-03-14T20:43:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,87.0,7,7 - Thomas/Dale(Frogtown),edmund av & victoria,RR,RR - Report Written,1,1,1,edmund,victoria,edmund_victoria,"44.958449, -93.136487"
5,19050246,03/08/2019,2019-03-08T23:00:00.000,311,"Robbery, Highway, Firearm",Robbery,87.0,11,11 - Hamline/Midway,charles av & lexington,RR,Report Written,1,1,1,charles,lexington,charles_lexington,"44.957558, -93.146543"
6,19046546,03/06/2019,2019-03-06T23:29:00.000,1812,"Narcotics, Possession of Heroin",Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),charles av & oxford,RR,Report Written,1,1,1,charles,oxford,charles_oxford,"44.957553, -93.144087"
7,19035258,02/18/2019,2019-02-18T23:40:55.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),university av w & lexington,A,Advised,1,1,1,university,lexington,university_lexington,"44.955826, -93.146539"
8,19033449,02/16/2019,2019-02-16T02:55:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,87.0,7,7 - Thomas/Dale(Frogtown),oxford st n & thomas,RR,Report Written,1,1,1,oxford,thomas,oxford_thomas,"44.959368, -93.144091"
9,19029825,02/11/2019,2019-02-11T11:00:00.000,710,"Motor Vehicle Theft, Automobile",Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),sherburne av & victoria,RR,Report Written,1,1,1,sherburne,victoria,sherburne_victoria,"44.956632, -93.136486"
10,19028421,02/09/2019,2019-02-09T12:28:39.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),thomas av & milton,A,Advised,1,1,1,thomas,milton,thomas_milton,"44.959361, -93.139031"
11,19028017,02/08/2019,2019-02-08T20:22:42.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),thomas av & milton,A,Advised,1,1,1,thomas,milton,thomas_milton,"44.959361, -93.139031"
12,19027253,02/07/2019,2019-02-07T20:18:42.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & university,A,Advised,1,1,1,milton,university,milton_university,"44.955831, -93.139018"
13,19026723,02/07/2019,2019-02-07T00:51:12.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,A,Advised,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
14,19023317,02/02/2019,2019-02-02T10:55:25.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),university av w & lexington,A,Advised,1,1,1,university,lexington,university_lexington,"44.955826, -93.146539"
15,19023127,02/02/2019,2019-02-02T01:00:31.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),sherburne av & chatsworth,A,Advised,1,1,1,sherburne,chatsworth,sherburne_chatsworth,"44.956638, -93.141563"
16,19022806,02/01/2019,2019-02-01T18:23:49.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),university av w & chatsworth,A,Advised,1,1,1,university,chatsworth,university_chatsworth,"44.955828, -93.141563"
17,19022640,02/01/2019,2019-02-01T14:57:01.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),lexington pa n & lafond,A,Advised,1,1,1,lexington,lafond,lexington_lafond,"44.960284, -93.146534"
18,19022039,01/31/2019,2019-01-31T18:33:44.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),university av w & lexington,A,Advised,1,1,1,university,lexington,university_lexington,"44.955826, -93.146539"
19,19800144,01/29/2019,2019-01-29T18:21:00.000,641,"Theft, From Auto, Under $500",Theft,87.0,7,7 - Thomas/Dale(Frogtown),charles av & victoria,RR,Report Written,1,1,1,charles,victoria,charles_victoria,"44.957542, -93.136495"
20,19020717,01/29/2019,2019-01-29T17:36:33.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),university av w & lexington,A,Advised,1,1,1,university,lexington,university_lexington,"44.955826, -93.146539"
21,19018633,01/26/2019,2019-01-26T14:38:26.000,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),lafond av & milton,A,Advised,1,1,1,lafond,milton,lafond_milton,"44.960266, -93.139028"
22,19017515,01/24/2019,2019-01-24T21:54:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,87.0,7,7 - Thomas/Dale(Frogtown),charles av & milton,RR,Report Written,1,1,1,charles,milton,charles_milton,"44.957543, -93.139026"
23,19016367,01/23/2019,10:46,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,A,Advised,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
24,19014510,01/20/2019,13:26,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,87.0,7,7 - Thomas/Dale(Frogtown),lexington pa n & university,RR,Report Written,1,1,1,lexington,university,lexington_university,"44.955826, -93.146539"
25,19013411,01/18/2019,18:22,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),university av w & chatsworth,A,Advised,1,1,1,university,chatsworth,university_chatsworth,"44.955828, -93.141563"
26,19011795,01/16/2019,18:18:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & thomas,RR,Report Written,1,1,1,chatsworth,thomas,chatsworth_thomas,"44.959365, -93.141564"
27,19006032,01/09/2019,09:52:48,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),sherburne av & milton,A,Advised,1,1,1,sherburne,milton,sherburne_milton,"44.956645, -93.139025"
28,19004559,01/07/2019,11:46:25,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),university av w & chatsworth,A,Advised,1,1,1,university,chatsworth,university_chatsworth,"44.955828, -93.141563"
29,19000001,01/01/2019,00:00:02,9954,Proactive Police Visit,Proactive Police Visit,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & sherburne,A,Advised,1,1,1,chatsworth,sherburne,chatsworth_sherburne,"44.956638, -93.141563"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,15050840,03/12/2015,18:33,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & lafond,G,Gone on Arrival,1,1,1,chatsworth,lafond,chatsworth_lafond,"44.960268, -93.141565"
548,15049606,03/11/2015,9:38,630,"Theft, Shoplifting",Theft,87.0,7,7 - Thomas/Dale(Frogtown),oxford st n & university,A,Advised,1,1,1,oxford,university,oxford_university,"44.955836, -93.144082"
549,15039946,02/25/2015,21:56,1811,"Narcotics, Possession of Cocaine",Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),blair av & victoria,RR,Report Written,1,1,1,blair,victoria,blair_victoria,"44.961174, -93.136490"
550,15032360,02/14/2015,18:28,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,87.0,7,7 - Thomas/Dale(Frogtown),lexington pa n & university,RR,Report Written,1,1,1,lexington,university,lexington_university,"44.955826, -93.146539"
551,15027765,02/07/2015,23:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),lafond av & oxford,RR,Report Written,1,1,1,lafond,oxford,lafond_oxford,"44.960278, -93.144086"
552,15019830,01/28/2015,21:35,1420,"Criminal Damage to Property (Gross Mis., $250-$500)",Vandalism,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & sherburne,RR,Report Written,1,1,1,milton,sherburne,milton_sherburne,"44.956645, -93.139025"
553,14279099,12/28/2014,17:29,700,Motor Vehicle Theft,Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),lexington pa n & sherburne,A,Advised,1,1,1,lexington,sherburne,lexington_sherburne,"44.956644, -93.146545"
554,14274784,12/21/2014,19:16,410,"Aggravated Assault, Firearm",Agg. Assault,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & university,RR,Report Written,1,1,1,milton,university,milton_university,"44.955831, -93.139018"
555,14265205,12/08/2014,10:24,700,Motor Vehicle Theft,Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),university av & chatsworth,G,Gone on Arrival,1,1,1,university,chatsworth,university_chatsworth,"44.955828, -93.141563"
556,14265247,12/08/2014,11:34,711,"Motor Vehicle Theft, Trucks and Buses",Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,RR,Report Written,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
557,14263188,12/05/2014,13:56,1855,"Narcotics, Possession With Intent to Sell Marijuana",Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,RR,Report Written,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
558,14259726,12/01/2014,0:03,1880,"Narcotics, Possession of Narcotic Paraphernalia",Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),oxford st n & university,RR,Report Written,1,1,1,oxford,university,oxford_university,"44.955836, -93.144082"
559,14245104,11/09/2014,20:20,431,"Aggravated Assault, Domestic",Agg. Assault Dom.,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,RR,Report Written,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
560,14237517,10/30/2014,20:31,1811,"Narcotics, Possession of Cocaine",Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & university,RR,Report Written,1,1,1,milton,university,milton_university,"44.955831, -93.139018"
561,14235159,10/27/2014,21:54,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,87.0,7,7 - Thomas/Dale(Frogtown),lexington pa n & university,RR,Report Written,1,1,1,lexington,university,lexington_university,"44.955826, -93.146539"
562,14219701,10/09/2014,5:35,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & university,G,Gone on Arrival,1,1,1,milton,university,milton_university,"44.955831, -93.139018"
563,14219497,10/08/2014,20:57,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),university av & chatsworth,G,Gone on Arrival,1,1,1,university,chatsworth,university_chatsworth,"44.955828, -93.141563"
564,14219497,10/08/2014,20:57,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),university av & chatsworth,G,Gone on Arrival,1,1,1,university,chatsworth,university_chatsworth,"44.955828, -93.141563"
565,14217336,10/06/2014,9:17,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),edmund av & milton,G,Gone on Arrival,1,1,1,edmund,milton,edmund_milton,"44.958450, -93.139026"
566,14217336,10/06/2014,9:17,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),edmund av & milton,G,Gone on Arrival,1,1,1,edmund,milton,edmund_milton,"44.958450, -93.139026"
567,14210007,09/27/2014,6:00,420,"Aggravated Assault, Knife or Cutting Instrument",Agg. Assault,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,RR,Report Written,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
568,14207532,09/24/2014,15:12,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),edmund av & milton,G,Gone on Arrival,1,1,1,edmund,milton,edmund_milton,"44.958450, -93.139026"
569,14199411,09/15/2014,9:20,691,"Theft, All Other, Under $500",Theft,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & university,RR,Report Written,1,1,1,milton,university,milton_university,"44.955831, -93.139018"
570,14193401,09/08/2014,9:02,700,Motor Vehicle Theft,Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),milton st n & university,A,Advised,1,1,1,milton,university,milton_university,"44.955831, -93.139018"
571,14190965,09/05/2014,13:30,710,"Motor Vehicle Theft, Automobile",Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & university,RR,Report Written,1,1,1,chatsworth,university,chatsworth_university,"44.955828, -93.141563"
572,14183444,08/27/2014,21:50,311,"Robbery, Highway, Firearm",Robbery,87.0,7,7 - Thomas/Dale(Frogtown),edmund av & victoria,RR,Report Written,1,1,1,edmund,victoria,edmund_victoria,"44.958449, -93.136487"
573,14181293,08/25/2014,14:31,700,Motor Vehicle Theft,Auto Theft,87.0,7,7 - Thomas/Dale(Frogtown),university av & lexington,A,Advised,1,1,1,university,lexington,university_lexington,"44.955826, -93.146539"
574,14179874,08/23/2014,18:18,1800,Narcotics,Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),oxford st n & sherburne,A,Advised,1,1,1,oxford,sherburne,oxford_sherburne,"44.956642, -93.144086"
575,14172269,08/15/2014,1:12,314,"Robbery, Highway, By Strong Arm",Robbery,87.0,7,7 - Thomas/Dale(Frogtown),lexington pa n & university,RR,Report Written,1,1,1,lexington,university,lexington_university,"44.955826, -93.146539"
576,14171903,08/14/2014,17:46,1811,"Narcotics, Possession of Cocaine",Narcotics,87.0,7,7 - Thomas/Dale(Frogtown),chatsworth st n & sherburne,RR,Report Written,1,1,1,chatsworth,sherburne,chatsworth_sherburne,"44.956638, -93.141563"

In [451]:
dfW=df.query('Intersection==0')

dfW['Block1']= dfW.Block.str.replace('xx','00')
dfW['Block1']= dfW.Block1.str.replace('x ','0 ')

In [455]:

dfW['Address']= dfW['Block1'] + ', Saint Paul, MN, 55104'
#print(dfW['Address'].unique())
#rint(dfW['Block1'].unique())

A=dfW[['Block','Block1','Address']].sort_values('Address')
#print(A)
A=A.groupby(['Address','Block']).count()
A=A.reset_index()
print(A.shape)
B=A.loc[0:50,:]
C=A.loc[51:100,:]
D=A.loc[101:150,:]
E=A.loc[151:200,:]
#F=A.loc[201:,]

(224, 3)

In [466]:
#from geopy.geocoders import Nominatim
#nom=Nominatim()
#pd.set_option('display.max_colwidth', -1)

#get_google_results


import geocoder 
import requests

#RETURN_FULL_RESULTS = False
#b= get_google_results('1022 edmund avenue west, St. Paul, MN, 55104')
#b
#allows to display
#B['Coordinates']= B['Address'].apply(get_google_results)
#C['Coordinates']= C['Address'].apply(get_google_results)
#D['Coordinates']= D['Address'].apply(get_google_results)
#E['Coordinates']= E['Address'].apply(get_google_results)
#F['Coordinates']= F['Address'].apply(get_google_results)

#dfW.shape
#b['formatted_address']
#b['latitude']\

In [467]:
B['For_Address'] = B['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
B['Latitude'] = B['Coordinates'].apply(lambda x: x['latitude']) 
B['Longitude'] = B['Coordinates'].apply(lambda x: x['longitude']) 
C['For_Address'] = C['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
C['Latitude'] = C['Coordinates'].apply(lambda x: x['latitude']) 
C['Longitude'] = C['Coordinates'].apply(lambda x: x['longitude'])
D['For_Address'] = D['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
D['Latitude'] = D['Coordinates'].apply(lambda x: x['latitude']) 
D['Longitude'] = D['Coordinates'].apply(lambda x: x['longitude']) 
E['For_Address'] = E['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
E['Latitude'] = E['Coordinates'].apply(lambda x: x['latitude']) 
E['Longitude'] = E['Coordinates'].apply(lambda x: x['longitude']) 
F['For_Address'] = F['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
F['Latitude'] = F['Coordinates'].apply(lambda x: x['latitude']) 
F['Longitude'] = F['Coordinates'].apply(lambda x: x['longitude'])

#B[['For_Address', 'Address', 'Block' ]]

In [475]:
#C_mess=C.loc[[76,87,90,92,93,95,96,97,99,100],:]
#C= C.drop([76,87,90,92,93,95,96,97,99,100])
#D_mess=D.loc[[102,108,111,115,117,119,120],:]
#D= D.drop([102,108,111,115,117,119,120])

Address_Mess= pd.concat([C_Mess, D_Mess], ignore_index=True)
Add_Com=pd.concat([B,C,D,E,F], ignore_index=True)
Address_Complete= Add_Com[['Block','For_Address','Latitude','Longitude']]

In [672]:
df=df_crime.query('Grid in [66.0]')
df['Date']= pd.to_datetime(df['Date'])
df['Year']= df['Date'].dt.year
df['DayofWeek']=df['Date'].dt.dayofweek
df['Weekend'] = df['DayofWeek'].apply(lambda x: 1 if (x>4)  else 0)
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['LateNight'] = df['Hour'].apply(lambda x: 1 if (x>21 or x<5)  else 0)
df.Block = df.Block.astype(str)
df['Block']= df['Block'].str.lower()
#df.Block.unique()
df['Intersection'] = df['Block'].apply(lambda x: 1 if '&' in x else 0) #intersection
dfW=df.query('Intersection==0')

dfW['Block1']= dfW.Block.str.replace('xx','00')
dfW['Block1']= dfW.Block1.str.replace('x ','0 ')
dfW['Block1']= dfW.Block1.str.replace('ravou0','ravoux')

In [673]:
dfW['Address']= dfW['Block1'] + ', Saint Paul, MN, 55104'

A=dfW[['Block','Block1','Address']].sort_values('Address')
#print(A)
A=A.groupby(['Address','Block']).count()
A=A.reset_index()
print(A.shape)

(148, 3)

In [660]:
B=A.loc[0:50,:]
C=A.loc[51:100,:]
D=A.loc[101:,:]
#E=A.loc[151:200,:]
#F=A.loc[201:,:]
#G=A.loc[251:,:]

In [676]:
#B['Coordinates']= B['Address'].apply(get_google_results)
#C['Coordinates']= C['Address'].apply(get_google_results)
D['Coordinates']= D['Address'].apply(get_google_results)
#E['Coordinates']= E['Address'].apply(get_google_results)
#F['Coordinates']= F['Address'].apply(get_google_results)
#G['Coordinates']= G['Address'].apply(get_google_results)

In [686]:
B['For_Address'] = B['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
B['Latitude'] = B['Coordinates'].apply(lambda x: x['latitude']) 
B['Longitude'] = B['Coordinates'].apply(lambda x: x['longitude']) 
C['For_Address'] = C['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
C['Latitude'] = C['Coordinates'].apply(lambda x: x['latitude']) 
C['Longitude'] = C['Coordinates'].apply(lambda x: x['longitude'])
D['For_Address'] = D['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
D['Latitude'] = D['Coordinates'].apply(lambda x: x['latitude']) 
D['Longitude'] = D['Coordinates'].apply(lambda x: x['longitude']) 
E['For_Address'] = E['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
E['Latitude'] = E['Coordinates'].apply(lambda x: x['latitude']) 
E['Longitude'] = E['Coordinates'].apply(lambda x: x['longitude']) 
F['For_Address'] = F['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
F['Latitude'] = F['Coordinates'].apply(lambda x: x['latitude']) 
F['Longitude'] = F['Coordinates'].apply(lambda x: x['longitude'])
G['For_Address'] = G['Coordinates'].apply(lambda x: x['formatted_address']) #intersection
G['Latitude'] = G['Coordinates'].apply(lambda x: x['latitude']) 
G['Longitude'] = G['Coordinates'].apply(lambda x: x['longitude'])

#D[['For_Address', 'Address', 'Block','Latitude','Longitude']]

In [744]:

#C_mess=B.loc[[0,19],:]
#B= B.drop([0,19])
#E_mess=E.loc[[188,190,192,195,200],:]
#E= E.drop([188,190,192,195,200])
#F_mess=F.loc[[204,205,206,208,209,213],:]
#F= F.drop([204,205,206,208,209,213])

#Address_Mess= pd.concat([Address_Mess, E_mess, F_mess], ignore_index=True)
Add_Com=pd.concat([B,C,D], ignore_index=True)
CC= Add_Com[['Block','For_Address','Latitude','Longitude']]
Address_Complete=pd.concat([Address_Complete, CC], ignore_index=True)

In [745]:
Address_Complete= pd.read_csv('Address_KeySing1.csv')

In [746]:
Address_Complete.shape
#Remove Duplicates
Address_Complete = Address_Complete.groupby(['Block','For_Address','Latitude','Longitude']).count().reset_index()

#remove additional values:
#Address_Complete=Address_Complete.drop(Address_Complete.index[528])
#Address_Complete=Address_Complete.drop(Address_Complete.index[828])

Address_Complete.to_csv(r'Address_KeySing.csv',index=False)
Z=pd.merge(Address_Mess,Address_Complete, on='Block', how='left')
Z= Z.query('Latitude_y == "NaN"')

Z.to_csv(r'Address_Mess1.csv',index=False)

In [747]:



Address_Complete.query('Block== "107x university av w"')

fg= Address_Complete

#Ind:15   44.9801399,-93.151842

In [710]:
#Z.replace("Mi", np.nan, inplace = True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(Z[['Address','Latitude_y']].query('Latitude_y == "NaN"'))
    
44.9801399,-93.151842

                                            Address  Latitude_y
15   1220 estabrook dr, Saint Paul, MN, 55104       NaN
29   490 lexington parkway n, Saint Paul, MN, 55104 NaN
32   500 lexington parkway n, Saint Paul, MN, 55104 NaN
35   520 lexington parkway n, Saint Paul, MN, 55104 NaN
36   530 lexington parkway n, Saint Paul, MN, 55104 NaN
38   540 lexington parkway n, Saint Paul, MN, 55104 NaN
39   550 lexington parkway n, Saint Paul, MN, 55104 NaN
40   560 lexington parkway n, Saint Paul, MN, 55104 NaN
42   570 lexington parkway n, Saint Paul, MN, 55104 NaN
43   580 lexington parkway n, Saint Paul, MN, 55104 NaN
45   590 lexington parkway n, Saint Paul, MN, 55104 NaN
51   620 lexington parkway n, Saint Paul, MN, 55104 NaN
53   640 lexington parkway n, Saint Paul, MN, 55104 NaN
58   660 lexington parkway n, Saint Paul, MN, 55104 NaN
62   690 lexington parkway n, Saint Paul, MN, 55104 NaN
63   700 lexington parkway n, Saint Paul, MN, 55104 NaN
99   st/university av, Saint Paul, MN, 55103        NaN
100  nan, Saint Paul, MN, 55103                     NaN
101  w/farrington av, Saint Paul, MN, 55103         NaN
102  w/farrington st, Saint Paul, MN, 55103         NaN
103  0 acker st w, Saint Paul, MN, 55103            NaN
104  0 como av, Saint Paul, MN, 55103               NaN
105  0 empire dr, Saint Paul, MN, 55103             NaN
106  0 university av w, Saint Paul, MN, 55103       NaN
107  0 winter st, Saint Paul, MN, 55103             NaN
108  730 capitol ht, Saint Paul, MN, 55103          NaN
109  740 capitol bd, Saint Paul, MN, 55103          NaN
110  760 capitol bd, Saint Paul, MN, 55103          NaN
111  760 capitol ht, Saint Paul, MN, 55103          NaN
112  770 capitol bd, Saint Paul, MN, 55103          NaN
113  790 capitol bd, Saint Paul, MN, 55103          NaN
114  790 capitol ht, Saint Paul, MN, 55103          NaN
115  780 capitol bd, Saint Paul, MN, 55103          NaN
116  800 capitol ht, Saint Paul, MN, 55103          NaN
117  810 capitol ht, Saint Paul, MN, 55103          NaN
118  820 capitol bd, Saint Paul, MN, 55103          NaN
119  820 capitol ht, Saint Paul, MN, 55103          NaN
120  nan, Saint Paul, MN, 55103                     NaN
121  park, Saint Paul, MN, 55103                    NaN
122  750 lexington pa n, Saint Paul, MN, 55104      NaN
123  760 lexington pa n, Saint Paul, MN, 55104      NaN
124  770 lexington pa n, Saint Paul, MN, 55104      NaN
125  780 lexington pa n, Saint Paul, MN, 55104      NaN
126  900 lexington pa n, Saint Paul, MN, 55104      NaN
127  950 lexington pa n, Saint Paul, MN, 55104      NaN
128  270 oxford st n, Saint Paul, MN, 55104         NaN
129  300 lexington pa n, Saint Paul, MN, 55104      NaN
130  370 lexington pa n, Saint Paul, MN, 55104      NaN
131  390 lexington pa n, Saint Paul, MN, 55104      NaN
132  400 lexington pa n, Saint Paul, MN, 55104      NaN
133  400 lexington pa n, Saint Paul, MN, 55104      NaN
134  410 lexington pa n, Saint Paul, MN, 55104      NaN
135  440 lexington pa n, Saint Paul, MN, 55104      NaN
136  450 lexington pa n, Saint Paul, MN, 55104      NaN
137  460 lexington pa n, Saint Paul, MN, 55104      NaN
140  300 lexington pa n, Saint Paul, MN, 55104      NaN
141  310 griggs st n, Saint Paul, MN, 55104         NaN
142  330 lexington pa n, Saint Paul, MN, 55104      NaN
143  370 lexington pa n, Saint Paul, MN, 55104      NaN
144  390 griggs st n, Saint Paul, MN, 55104         NaN
145  390 lexington pa n, Saint Paul, MN, 55104      NaN
146  400 lexington pa n, Saint Paul, MN, 55104      NaN
147  450 lexington pa n, Saint Paul, MN, 55104      NaN
148  460 lexington pa n, Saint Paul, MN, 55104      NaN
149  520 lexington pa n, Saint Paul, MN, 55104      NaN
150  530 lexington pa n, Saint Paul, MN, 55104      NaN
151  560 lexington pa n, Saint Paul, MN, 55104      NaN
152  590 lexington pa n, Saint Paul, MN, 55104      NaN
153  600 lexington pa n, Saint Paul, MN, 55104      NaN
154  620 lexington pa n, Saint Paul, MN, 55104      NaN
155  630 lexington pa n, Saint Paul, MN, 55104      NaN
156  640 lexington pa n, Saint Paul, MN, 55104      NaN
157  650 lexington pa n, Saint Paul, MN, 55104      NaN
158  660 lexington pa n, Saint Paul, MN, 55104      NaN
159  700 lexington pa n, Saint Paul, MN, 55104      NaN

In [689]:
#AM=Address_Mess.reset_index()
#AM=AM.sort_values('Address')
#AM=AM.reset_index() 
#AM

#44.9637939,-93.1023357
#44.9591406,-93.1010532

,level_0,index,Address,Block,Block1,Coordinates,For_Address,Latitude,Longitude,Pass1
0,88,88,"0 acker st w, Saint Paul, MN, 55103",x acker st w,1.0,"{'formatted_address': 'W Acker St, St Paul, MN 55117, USA', 'latitude': 44.9640213, 'longitude': -93.10051589999999, 'input_string': '0 acker st w, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","W Acker St, St Paul, MN 55117, USA",44.964021,-93.100516,NaN
1,89,89,"0 como av, Saint Paul, MN, 55103",x como av,4.0,"{'formatted_address': '217 Como Ave, St Paul, MN 55103, USA', 'latitude': 44.9613446, 'longitude': -93.1093803, 'input_string': '0 como av, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","217 Como Ave, St Paul, MN 55103, USA",44.961345,-93.109380,NaN
2,90,90,"0 empire dr, Saint Paul, MN, 55103",x empire dr,5.0,"{'formatted_address': 'Empire Dr, St Paul, MN 55103, USA', 'latitude': 44.9619676, 'longitude': -93.1015595, 'input_string': '0 empire dr, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","Empire Dr, St Paul, MN 55103, USA",44.961968,-93.101559,NaN
3,91,91,"0 university av w, Saint Paul, MN, 55103",x university av w,2.0,"{'formatted_address': 'University Ave W, St Paul, MN 55103, USA', 'latitude': 44.9556266, 'longitude': -93.12888590000001, 'input_string': '0 university av w, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","University Ave W, St Paul, MN 55103, USA",44.955627,-93.128886,NaN
4,92,92,"0 winter st, Saint Paul, MN, 55103",x winter st,3.0,"{'formatted_address': 'Winter St, St Paul, MN 55103, USA', 'latitude': 44.9599655, 'longitude': -93.10219909999999, 'input_string': '0 winter st, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","Winter St, St Paul, MN 55103, USA",44.959966,-93.102199,NaN
5,65,65,"1000 blair av, Saint Paul, MN, 55104",100x blair av,NaN,NaN,NaN,NaN,NaN,0.0
6,66,66,"1000 edmund av, Saint Paul, MN, 55104",100x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
7,67,67,"1000 vanburen av, Saint Paul, MN, 55104",100x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
8,68,68,"1010 blair av, Saint Paul, MN, 55104",101x blair av,NaN,NaN,NaN,NaN,NaN,0.0
9,69,69,"1010 vanburen av, Saint Paul, MN, 55104",101x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
10,70,70,"1020 edmund av, Saint Paul, MN, 55104",102x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
11,71,71,"1020 vanburen av, Saint Paul, MN, 55104",102x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
12,72,72,"1030 blair av, Saint Paul, MN, 55104",103x blair av,NaN,NaN,NaN,NaN,NaN,0.0
13,73,73,"1030 edmund av, Saint Paul, MN, 55104",103x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
14,74,74,"1030 university av w, Saint Paul, MN, 55104",103x university av w,NaN,NaN,NaN,NaN,NaN,0.0
15,75,75,"1030 vanburen av, Saint Paul, MN, 55104",103x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
16,76,76,"1040 blair av, Saint Paul, MN, 55104",104x blair av,NaN,NaN,NaN,NaN,NaN,0.0
17,77,77,"1040 edmund av, Saint Paul, MN, 55104",104x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
18,78,78,"1040 university av w, Saint Paul, MN, 55104",104x university av w,NaN,NaN,NaN,NaN,NaN,0.0
19,79,79,"1040 vanburen av, Saint Paul, MN, 55104",104x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
20,80,80,"1050 edmund av, Saint Paul, MN, 55104",105x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
21,81,81,"1050 vanburen av, Saint Paul, MN, 55104",105x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
22,82,82,"1060 blair av, Saint Paul, MN, 55104",106x blair av,NaN,NaN,NaN,NaN,NaN,0.0
23,83,83,"1060 edmund av, Saint Paul, MN, 55104",106x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
24,0,0,"1060 university av w, Saint Paul, MN, 55104",106x university av w,NaN,NaN,NaN,NaN,NaN,0.0
25,1,1,"1060 vanburen av, Saint Paul, MN, 55104",106x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
26,2,2,"1070 blair av, Saint Paul, MN, 55104",107x blair av,NaN,NaN,NaN,NaN,NaN,0.0
27,3,3,"1070 edmund av, Saint Paul, MN, 55104",107x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
28,4,4,"1070 university av w, Saint Paul, MN, 55104",107x university av w,NaN,NaN,NaN,NaN,NaN,0.0
29,5,5,"1070 vanburen av, Saint Paul, MN, 55104",107x vanburen av,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
115,109,109,"770 lexington pa n, Saint Paul, MN, 55104",77x lexington pa n,3.0,"{'formatted_address': '474 Lexington Pkwy N, St Paul, MN 55104, USA', 'latitude': 44.9553059, 'longitude': -93.1462304, 'input_string': '770 lexington pa n, Saint Paul, MN, 55104', 'number_of_results': 1, 'status': 'OK'}","474 Lexington Pkwy N, St Paul, MN 55104, USA",44.955306,-93.146230,NaN
116,100,100,"780 capitol bd, Saint Paul, MN, 55103",78x capitol bd,1.0,"{'formatted_address': '780 Capitol Heights, St Paul, MN 55103, USA', 'latitude': 44.9588471, 'longitude': -93.09941169999999, 'input_string': '780 capitol bd, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","780 Capitol Heights, St Paul, MN 55103, USA",44.958847,-93.099412,NaN
117,110,110,"780 lexington pa n, Saint Paul, MN, 55104",78x lexington pa n,1.0,"{'formatted_address': '474 Lexington Pkwy N, St Paul, MN 55104, USA', 'latitude': 44.9553059, 'longitude': -93.1462304, 'input_string': '780 lexington pa n, Saint Paul, MN, 55104', 'number_of_results': 1, 'status': 'OK'}","474 Lexington Pkwy N, St Paul, MN 55104, USA",44.955306,-93.146230,NaN
118,98,98,"790 capitol bd, Saint Paul, MN, 55103",79x capitol bd,5.0,"{'formatted_address': '790 Capitol Heights, St Paul, MN 55103, USA', 'latitude': 44.959115, 'longitude': -93.09940999999999, 'input_string': '790 capitol bd, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","790 Capitol Heights, St Paul, MN 55103, USA",44.959115,-93.099410,NaN
119,99,99,"790 capitol ht, Saint Paul, MN, 55103",79x capitol ht,1.0,"{'formatted_address': '560 Concordia Ave, St Paul, MN 55103, USA', 'latitude': 44.9504557, 'longitude': -93.12233359999999, 'input_string': '790 capitol ht, Saint Paul, MN, 55103', 'number_of_results': 2, 'status': 'OK'}","560 Concordia Ave, St Paul, MN 55103, USA",44.950456,-93.122334,NaN
120,52,52,"790 sims av, Saint Paul, MN, 55104",79x sims av,NaN,NaN,NaN,NaN,NaN,0.0
121,101,101,"800 capitol ht, Saint Paul, MN, 55103",80x capitol ht,3.0,"{'formatted_address': '560 Concordia Ave, St Paul, MN 55103, USA', 'latitude': 44.9504557, 'longitude': -93.12233359999999, 'input_string': '800 capitol ht, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","560 Concordia Ave, St Paul, MN 55103, USA",44.950456,-93.122334,NaN
122,53,53,"800 edmund av, Saint Paul, MN, 55104",8xx edmund av,NaN,NaN,NaN,NaN,NaN,0.0
123,102,102,"810 capitol ht, Saint Paul, MN, 55103",81x capitol ht,3.0,"{'formatted_address': '560 Concordia Ave, St Paul, MN 55103, USA', 'latitude': 44.9504557, 'longitude': -93.12233359999999, 'input_string': '810 capitol ht, Saint Paul, MN, 55103', 'number_of_results': 2, 'status': 'OK'}","560 Concordia Ave, St Paul, MN 55103, USA",44.950456,-93.122334,NaN
124,103,103,"820 capitol bd, Saint Paul, MN, 55103",82x capitol bd,1.0,"{'formatted_address': '820 Capitol Heights, St Paul, MN 55103, USA', 'latitude': 44.960073, 'longitude': -93.099164, 'input_string': '820 capitol bd, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","820 Capitol Heights, St Paul, MN 55103, USA",44.960073,-93.099164,NaN
125,104,104,"820 capitol ht, Saint Paul, MN, 55103",82x capitol ht,1.0,"{'formatted_address': '560 Concordia Ave, St Paul, MN 55103, USA', 'latitude': 44.9504557, 'longitude': -93.12233359999999, 'input_string': '820 capitol ht, Saint Paul, MN, 55103', 'number_of_results': 2, 'status': 'OK'}","560 Concordia Ave, St Paul, MN 55103, USA",44.950456,-93.122334,NaN
126,54,54,"830 armstrong av, Saint Paul, MN, 55104",83x armstrong av,NaN,NaN,NaN,NaN,NaN,0.0
127,55,55,"860 edmund av, Saint Paul, MN, 55104",86x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
128,56,56,"860 thomas av, Saint Paul, MN, 55104",86x thomas av,NaN,NaN,NaN,NaN,NaN,0.0
129,57,57,"860 university av w, Saint Paul, MN, 55104",86x university av w,NaN,NaN,NaN,NaN,NaN,0.0
130,58,58,"870 edmund av, Saint Paul, MN, 55104",87x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
131,59,59,"870 thomas av, Saint Paul, MN, 55104",87x thomas av,NaN,NaN,NaN,NaN,NaN,0.0
132,60,60,"870 university av w, Saint Paul, MN, 55104",87x university av w,NaN,NaN,NaN,NaN,NaN,0.0
133,61,61,"880 edmund av, Saint Paul, MN, 55104",88x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
134,62,62,"880 thomas av, Saint Paul, MN, 55104",88x thomas av,NaN,NaN,NaN,NaN,NaN,0.0
135,63,63,"880 university av w, Saint Paul, MN, 55104",88x university av w,NaN,NaN,NaN,NaN,NaN,0.0
136,64,64,"890 edmund av, Saint Paul, MN, 55104",89x edmund av,NaN,NaN,NaN,NaN,NaN,0.0
137,111,111,"900 lexington pa n, Saint Paul, MN, 55104",90x lexington pa n,1.0,"{'formatted_address': '1096 Grand Ave, St Paul, MN 55105, USA', 'latitude': 44.9398043, 'longitude': -93.1463622, 'input_string': '900 lexington pa n, Saint Paul, MN, 55104', 'number_of_results': 1, 'status': 'OK'}","1096 Grand Ave, St Paul, MN 55105, USA",44.939804,-93.146362,NaN
138,112,112,"950 lexington pa n, Saint Paul, MN, 55104",95x lexington pa n,173.0,"{'formatted_address': '1096 Grand Ave, St Paul, MN 55105, USA', 'latitude': 44.9398043, 'longitude': -93.1463622, 'input_string': '950 lexington pa n, Saint Paul, MN, 55104', 'number_of_results': 1, 'status': 'OK'}","1096 Grand Ave, St Paul, MN 55105, USA",44.939804,-93.146362,NaN
139,85,85,"nan, Saint Paul, MN, 55103",nan,1.0,"{'formatted_address': 'St Paul, MN 55103, USA', 'latitude': 44.9688472, 'longitude': -93.13156479999999, 'input_string': 'nan, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","St Paul, MN 55103, USA",44.968847,-93.131565,NaN
140,105,105,"nan, Saint Paul, MN, 55103",nan,1.0,"{'formatted_address': 'St Paul, MN 55103, USA', 'latitude': 44.9688472, 'longitude': -93.13156479999999, 'input_string': 'nan, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","St Paul, MN 55103, USA",44.968847,-93.131565,NaN
141,106,106,"park, Saint Paul, MN, 55103",park,2.0,"{'formatted_address': 'Como Park Zoo & Conservatory, 1225 Estabrook Dr, St Paul, MN 55103, USA', 'latitude': 44.9816216, 'longitude': -93.1521428, 'input_string': 'park, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","Como Park Zoo & Conservatory, 1225 Estabrook Dr, St Paul, MN 55103, USA",44.981622,-93.152143,NaN
142,84,84,"st/university av, Saint Paul, MN, 55103",st/university av,1.0,"{'formatted_address': '105 University Ave W, St Paul, MN 55103, USA', 'latitude': 44.956185, 'longitude': -93.1042269, 'input_string': 'st/university av, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","105 University Ave W, St Paul, MN 55103, USA",44.956185,-93.104227,NaN
143,86,86,"w/farrington av, Saint Paul, MN, 55103",w/farrington av,1.0,"{'formatted_address': 'Farrington St, St Paul, MN 55103, USA', 'latitude': 44.9756475, 'longitude': -93.11357939999999, 'input_string': 'w/farrington av, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","Farrington St, St Paul, MN 55103, USA",44.975648,-93.113579,NaN
144,87,87,"w/farrington st, Saint Paul, MN, 55103",w/farrington st,1.0,"{'formatted_address': 'Farrington St, St Paul, MN 55103, USA', 'latitude': 44.9756475, 'longitude': -93.11357939999999, 'input_string': 'w/farrington st, Saint Paul, MN, 55103', 'number_of_results': 1, 'status': 'OK'}","Farrington St, St Paul, MN 55103, USA",44.975648,-93.113579,NaN

In [748]:
Address_Complete
#Address_Complete.groupby(['Block','For_Address','Latitude','Longitude']).count().reset_index()
#Address_Complete.groupby(['Race','Reason'])['Citation'].value_counts(normalize=True).sort_index(level=2),4)
D1=Address_Complete.groupby('Block').count().reset_index()
D1.query("Latitude>1")
#D1=D1[['Block']]
#D2=B.query("Latitude==1")

           Block  For_Address  Latitude  Longitude
826  42x rice st  2            2         2

In [743]:
#Process of removing duplicates 

Address_Complete.query('Block =="42x rice st"')

           Block                          For_Address   Latitude  Longitude
827  42x rice st  420 Rice St, St Paul, MN 55103, USA  44.953815 -93.105413
828  42x rice st  420 Rice St, St Paul, MN 55103, USA  44.953868 -93.106072

In [385]:
g.latlng

[44.9582163, -93.143256]

In [ ]:
#df_crime.CallDisposition.unique()
df8=df_crime.query('Grid in [87.0]')

In [727]:
df.Year.unique()

array([2019, 2018, 2017, 2016, 2015, 2014], dtype=int64)