In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

# Setting up the Vacant Building DataSet

In [69]:
#publicBuilding = pd.read_csv('Public_Buildings_-_Dataset.csv')

VacantBuilding = pd.read_csv('Vacant_Buildings_-_Dataset.csv')
print(VacantBuilding.head())

#Set default column and values
#VacantBuilding['Latitude'] = 43.806
#VacantBuilding['Longitude'] = -79.194


VacantBuilding.loc[VacantBuilding['WARD'] == 1.0]
VacantBuilding.iloc[0:,7]

#print(VacantBuilding.iloc[1,7])

a= VacantBuilding['MAP LOCATION'].str.find(',')


# new data frame with split value columns 
new=VacantBuilding['MAP LOCATION'].str.split(",", n = 1, expand = True) 

#print(new[0])
    
# making seperate first name column from new data frame 
VacantBuilding['Latitude']= pd.to_numeric(new[0].str[1:]) #pd.to_numeric convert it to float

# making seperate last name column from new data frame 
VacantBuilding['Longitude']= pd.to_numeric(new[1].str.rstrip(')'))
#VacantBuilding['Longitude']= 
#print(VacantBuilding['Longitude'].str.rstrip(')'))
#VacantBuilding["Name"].str.find(sub) 

#VacantBuilding['date1'] = pd.to_datetime(VacantBuilding['VACANT AS OF'], format='%m/%d/%Y', utc=True)


VacantBuilding['Date']= pd.to_datetime(VacantBuilding['VACANT AS OF'])


print(VacantBuilding.head())
print(VacantBuilding.dtypes)

         ADDRESS            VACANT AS OF              DWELLING TYPE  \
0   663 3RD ST E  04/26/2011 12:00:00 AM   Multi-family Residential
1   989 3RD ST E  11/01/2011 12:00:00 AM  Single Family Residential
2  1457 3RD ST E  10/01/2014 12:00:00 AM  Single Family Residential
3   249 4TH ST E  10/13/2016 12:00:00 AM                 Commercial
4   767 4TH ST E  01/09/2009 12:00:00 AM                     Duplex

   VACANT BUILDING CATEGORY  WARD  DISTRICT  CENSUS TRACT  \
0                         2   7.0       4.0       34400.0
1                         2   7.0       4.0       34500.0
2                         2   7.0       1.0       34602.0
3                         2   2.0      17.0       34201.0
4                         2   7.0       4.0       34500.0

                           MAP LOCATION
0  (44.9547963325615, -93.071254461297)
1  (44.9568544056193, -93.058822503618)
2  (44.9569709429740, -93.038835961878)
3  (44.9487456956542, -93.085933397554)
4  (44.9576793823968, -93.067077030399)
         ADDRESS            VACANT AS OF              DWELLING TYPE  \
0   663 3RD ST E  04/26/2011 12:00:00 AM   Multi-family Residential
1   989 3RD ST E  11/01/2011 12:00:00 AM  Single Family Residential
2  1457 3RD ST E  10/01/2014 12:00:00 AM  Single Family Residential
3   249 4TH ST E  10/13/2016 12:00:00 AM                 Commercial
4   767 4TH ST E  01/09/2009 12:00:00 AM                     Duplex

   VACANT BUILDING CATEGORY  WARD  DISTRICT  CENSUS TRACT  \
0                         2   7.0       4.0       34400.0
1                         2   7.0       4.0       34500.0
2                         2   7.0       1.0       34602.0
3                         2   2.0      17.0       34201.0
4                         2   7.0       4.0       34500.0

                           MAP LOCATION   Latitude  Longitude       Date
0  (44.9547963325615, -93.071254461297)  44.954796 -93.071254 2011-04-26
1  (44.9568544056193, -93.058822503618)  44.956854 -93.058823 2011-11-01
2  (44.9569709429740, -93.038835961878)  44.956971 -93.038836 2014-10-01
3  (44.9487456956542, -93.085933397554)  44.948746 -93.085933 2016-10-13
4  (44.9576793823968, -93.067077030399)  44.957679 -93.067077 2009-01-09
ADDRESS                             object
VACANT AS OF                        object
DWELLING TYPE                       object
VACANT BUILDING CATEGORY             int64
WARD                               float64
DISTRICT                           float64
CENSUS TRACT                       float64
MAP LOCATION                        object
Latitude                           float64
Longitude                          float64
Date                        datetime64[ns]
dtype: object

In [70]:


TStop = pd.read_csv('Traffic_Stop_Dataset.csv')
print(TStop.head())

   YEAR OF STOP            DATE OF STOP RACE OF DRIVER GENDER OF DRIVER  \
0          2001  01/01/2001 12:11:00 AM          White           Female
1          2001  01/01/2001 12:14:00 AM          White             Male
2          2001  01/01/2001 12:23:00 AM          White             Male
3          2001  01/01/2001 12:28:00 AM          White             Male
4          2001  01/01/2001 12:30:00 AM          Asian           Female

  DRIVER SEARCHED? VEHICLE SEARCHED? CITATION ISSUED?  AGE OF DRIVER  \
0               No                No               No            NaN
1               No                No               No            NaN
2               No                No               No            NaN
3               No                No               No            NaN
4              Yes                No               No            NaN

  REASON FOR STOP  POLICE GRID NUMBER LOCATION OF STOP BY POLICE GRID  COUNT
0         No Data                55.0     (44.97391713, -93.06089457)      1
1         No Data               106.0     (44.95211807, -93.15173337)      1
2         No Data                58.0      (44.9738881, -93.03039075)      1
3         No Data                44.0     (44.97358832, -93.17215188)      1
4         No Data                95.0     (44.95987773, -93.06094546)      1